In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lasa,IT,2020-08-19 23:27:29,46.62,10.70,59.00,87,40,1.12
1,1,Punta Arenas,CL,2020-08-19 23:27:29,-53.15,-70.92,46.40,75,85,34.45
2,2,Barcelona,ES,2020-08-19 23:25:34,41.39,2.16,81.00,83,0,4.70
3,3,North Bend,US,2020-08-19 23:27:29,43.41,-124.22,71.01,82,1,9.17
4,4,Ust-Nera,RU,2020-08-19 23:27:29,64.57,143.20,45.10,76,99,7.74

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
''' General heatmap syntax
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig
'''

' General heatmap syntax\n# 1. Assign the locations to an array of latitude and longitude pairs.\nlocations = [latitude, longitude]\n# 2. Assign the weights variable to some values.\ntemperatures = # an array of equal length of the locations array.\n# 3. Assign the figure variable to the gmaps.figure() attribute.\nfig = gmaps.figure()\n# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.\nheatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)\n\n# 5. Add the heatmap layer.\nfig.add_layer(heatmap_layer)\n# 6. Call the figure to plot the data.\nfig\n'

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure()

# adjusting zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)



# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# percent humidity heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                 (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Barcelona,ES,2020-08-19 23:25:34,41.39,2.16,81.00,83,0,4.70
7,7,Bubaque,GW,2020-08-19 23:27:30,11.28,-15.83,81.34,86,93,8.88
8,8,Quelimane,MZ,2020-08-19 23:27:30,-17.88,36.89,75.20,83,52,4.70
12,12,Thinadhoo,MV,2020-08-19 23:27:31,0.53,72.93,83.32,63,99,3.06
17,17,Shenjiamen,CN,2020-08-19 23:27:32,29.96,122.30,81.16,87,1,11.88
...,...,...,...,...,...,...,...,...,...,...
552,552,Santa Rosa,PH,2020-08-19 23:29:41,14.31,121.11,78.80,94,100,4.70
553,553,Zaraza,VE,2020-08-19 23:29:41,9.35,-65.32,78.73,91,75,5.64
560,560,Kijang,KR,2020-08-19 23:29:44,35.24,129.21,82.40,78,0,3.36
561,561,Lalmohan,BD,2020-08-19 23:29:44,22.34,90.74,82.09,84,100,24.90
562,562,Los Alamos,US,2020-08-19 23:29:44,35.89,-106.31,90.00,12,1,10.29

In [24]:
# checking for null values
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
2         Barcelona      ES     81.00  41.39    2.16
7           Bubaque      GW     81.34  11.28  -15.83
8         Quelimane      MZ     75.20 -17.88   36.89
12        Thinadhoo      MV     83.32   0.53   72.93
17       Shenjiamen      CN     81.16  29.96  122.30
20  Arraial Do Cabo      BR     75.20 -22.97  -42.03
21             Naze      JP     86.00  28.37  129.48
26          Merauke      ID     76.14  -8.47  140.33
42       Hambantota      LK     78.80   6.12   81.12
45         Hamilton      US     78.01  39.18  -84.53

In [30]:
import requests

base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/output?'

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Barcelona,ES,81.00,41.39,2.16,Axel Hotel Barcelona
7,Bubaque,GW,81.34,11.28,-15.83,Casa Dora
8,Quelimane,MZ,75.20,-17.88,36.89,Hotel Flamingo
12,Thinadhoo,MV,83.32,0.53,72.93,
17,Shenjiamen,CN,81.16,29.96,122.30,Jinjiang Inn Zhoushan Putuo Shenjiamen
20,Arraial Do Cabo,BR,75.20,-22.97,-42.03,Pousada Porto Praia
21,Naze,JP,86.00,28.37,129.48,奄美ポートタワーホテル
26,Merauke,ID,76.14,-8.47,140.33,
42,Hambantota,LK,78.80,6.12,81.12,Bungalow 63
45,Hamilton,US,78.01,39.18,-84.53,Six Acres Bed & Breakfast

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))