## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
#city_data_df = city_data_df.drop(columns='Unnamed: 0')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,ribeira grande,PT,38.52,-28.70,73.63,88,3,10.78,clear sky
1,1,praia da vitoria,PT,38.73,-27.07,77.00,83,20,6.71,few clouds
2,2,atuona,PF,-9.80,-139.03,78.46,77,1,15.35,clear sky
3,3,arteaga,MX,18.47,-102.42,73.96,93,94,3.38,light rain
4,4,japura,BR,-0.32,102.35,72.91,96,66,1.61,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = int(input("Enter minimum temperature: "))
max_temp = int(input("Enter maximum temperature: "))

Enter minimum temperature: 65
Enter maximum temperature: 82

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                   (city_data_df['Max Temp'] >= min_temp)]
filtered_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,ribeira grande,PT,38.52,-28.70,73.63,88,3,10.78,clear sky
1,1,praia da vitoria,PT,38.73,-27.07,77.00,83,20,6.71,few clouds
2,2,atuona,PF,-9.80,-139.03,78.46,77,1,15.35,clear sky
3,3,arteaga,MX,18.47,-102.42,73.96,93,94,3.38,light rain
4,4,japura,BR,-0.32,102.35,72.91,96,66,1.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,grand gaube,MU,-20.01,57.66,71.01,75,30,8.99,scattered clouds
685,685,kanpur,IN,26.47,80.35,78.80,94,75,5.46,mist
686,686,cascais,PT,38.70,-9.42,70.00,82,20,28.86,few clouds
688,688,barahona,DO,18.21,-71.10,75.20,100,90,13.87,thunderstorm with rain
690,690,bartica,GY,6.40,-58.62,75.20,94,40,6.93,thunderstorm with light rain

In [6]:
# 4a. Determine if there are any empty rows.
filtered_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = filtered_cities.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,ribeira grande,PT,73.63,clear sky,38.52,-28.70,
1,praia da vitoria,PT,77.00,few clouds,38.73,-27.07,
2,atuona,PF,78.46,clear sky,-9.80,-139.03,
3,arteaga,MX,73.96,light rain,18.47,-102.42,
4,japura,BR,72.91,broken clouds,-0.32,102.35,
5,isangel,VU,80.60,broken clouds,-19.55,169.27,
10,albany,AU,81.00,thunderstorm,42.60,-73.97,
11,avarua,CK,75.20,clear sky,-21.21,-159.78,
21,shitanjing,CN,65.41,clear sky,39.23,106.34,
22,rikitea,PF,70.43,broken clouds,-23.12,-134.97,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
      
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()
clean_hotel_df = hotel_df.dropna()

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'hotel_list.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Description:</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(18.0, 15.0), zoom_level=2.3)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,ribeira grande,PT,73.63,clear sky,38.52,-28.70,Quinta da Meia Eira
1,praia da vitoria,PT,77.00,few clouds,38.73,-27.07,Hotel Branco I
2,atuona,PF,78.46,clear sky,-9.80,-139.03,Villa Enata
3,arteaga,MX,73.96,light rain,18.47,-102.42,
4,japura,BR,72.91,broken clouds,-0.32,102.35,Rumah mbah Jamah
...,...,...,...,...,...,...,...
682,grand gaube,MU,71.01,scattered clouds,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
685,kanpur,IN,78.80,mist,26.47,80.35,Little Chef Hotel
686,cascais,PT,70.00,few clouds,38.70,-9.42,Hotel Vila Galé Cascais
688,barahona,DO,75.20,thunderstorm with rain,18.21,-71.10,Hotel Caribe
690,bartica,GY,75.20,thunderstorm with light rain,6.40,-58.62,La Vista Hotel and Apartment